@using Minesweeper.App.ViewModels;
@model GameStateViewModel;

<h2 style="text-align:center;">🧨 Minesweeper 🧨</h2>

<table>
    @for (int y = 0; y < 10; y++)
    {
        <tr>
            @for (int x = 0; x < 10; x++)
            {
                var cell = Model.Cells.FirstOrDefault(c => c.X == x && c.Y == y);
                if (cell != null)
                {
                    @if (cell.IsOpened)
                    {
                        <td class="opened">
                            <div>
                                @if (cell.HasMine)
                                {
                                    <img src="~/lib/cells/cellmine.svg" alt="Cellmine" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 0)
                                {
                                    <img src="~/lib/cells/celldown.svg" alt="Celldown" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 1)
                                {
                                    <img src="~/lib/cells/cell1.svg" alt="cell1" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 2)
                                {
                                    <img src="~/lib/cells/cell2.svg" alt="cell2" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 3)
                                {
                                    <img src="~/lib/cells/cell3.svg" alt="cell3" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 4)
                                {
                                    <img src="~/lib/cells/cell4.svg" alt="cell4" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 5)
                                {
                                    <img src="~/lib/cells/cell5.svg" alt="cell5" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 6)
                                {
                                    <img src="~/lib/cells/cell6.svg" alt="cell6" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 7)
                                {
                                    <img src="~/lib/cells/cell7.svg" alt="cell7" width="24" height="24" />
                                }
                                else if (cell.AdjacentMines == 8)
                                {
                                    <img src="~/lib/cells/cell8.svg" alt="cell8" width="24" height="24" />
                                }
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="closed">
                            <a asp-controller="minesweeper"
                               asp-action="openCell"
                               asp-route-gameId="@Model.GameId"
                               asp-route-x="@cell.X"
                               asp-route-y="@cell.Y">
                                <img src="~/lib/cells/cellup.svg" alt="Cellup" width="24" height="24" />
                            </a>
                        </td>
                    }
                }
                else
                {
                    <td class="null-cell">NULL</td>
                }
            }
        </tr>
    }
</table>
