<div class="start-container">
    <form asp-controller="Minesweeper" asp-action="Game" method="post" class="start-form">
        <input type="hidden" name="height" value="10" />
        <input type="hidden" name="width" value="10" />
        <input type="hidden" name="totalMines" value="10" />
        <button type="submit" class="start-button">Easy</button>
    </form>

    <form asp-controller="Minesweeper" asp-action="Game" method="post" class="start-form">
        <input type="hidden" name="height" value="16" />
        <input type="hidden" name="width" value="16" />
        <input type="hidden" name="totalMines" value="25" />
        <button type="submit" class="start-button">Medium</button>
    </form>

    <form asp-controller="Minesweeper" asp-action="Game" method="post" class="start-form">
        <input type="hidden" name="height" value="16" />
        <input type="hidden" name="width" value="30" />
        <input type="hidden" name="totalMines" value="99" />
        <button type="submit" class="start-button">Hard</button>
    </form>
    <form asp-controller="Minesweeper" asp-action="Game" method="post" class="start-form">
        <input type="hidden" name="height" value="5" />
        <input type="hidden" name="width" value="5" />
        <input type="hidden" name="totalMines" value="1" />
        <button type="submit" class="start-button">Hard</button>
    </form>
</div>
